.uchet-radio {
  display: inline-block;
  position: relative;
  padding-left: 35px; 
  cursor: pointer;
}
.uchet-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--gray);
  border-radius: 50%;
}
.uchet-radio input:checked ~ .uchet-radio-input {
  background-color: var(--main-theme);
}
.uchet-radio-input:after {
  content: "";
  position: absolute;
  display: none;
}
.uchet-radio input:checked ~ .uchet-radio-input:after {
  display: block;
}
.uchet-radio .uchet-radio-input:after {
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--white);
}

.uchet-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px; 
  cursor: pointer;
}
.uchet-checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--gray);
  border: 2px solid var(--main-theme);
  border-radius: var(--radius);
}
.uchet-checkbox input:checked ~ .uchet-checkbox-input {
  background-color: var(--main-theme);
}
.uchet-checkbox-input:after {
  content: "";
  position: absolute;
  display: none;
}
.uchet-checkbox input:checked ~ .uchet-checkbox-input:after {
  display: block;
}
.uchet-checkbox .uchet-checkbox-input:after {
  top: 2px;
  left: 5px;
  width: 7px;
  height: 13px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

